* {outline: none;}

body {
  background-image: linear-gradient(120deg, #614385 0%, #516395 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.App {text-align: center;}

header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.todo-form {
  min-height: 15vh;
}

.todo-form {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input,
.submit-bnt {
  border-radius: 50px;
  padding: 0.7rem;
  font-size: 1.2rem;
  border: none;
}

.task-input {width: 35%;}

.submit-bnt {
  background: none;
  margin-left: -41px;
  color: #614385;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-bnt:hover {
  background: #614385;
  color: white;
}

select {
  background-color: white;
  border-radius: 50px;
  border: none;
  color: #516395;
}

.filter {margin: .5rem;}

.filter-todo {padding: .8rem;}

.todos {margin: auto;}

.todo {
  background-color: #fff;
  color: black;
  margin: 1rem auto;
  text-align: left;
  list-style: none;
  padding: .5rem;
  width: 45%;
  border-radius: 8px;
}

.info {
  display: inline-block;
  width: 80%;
}

.todo p {margin: 0px;}

.task {
  font-size: 1rem;
  width: 80%;
}

.created-date {
  color: gray;
  font-size: .7rem;
  width: 80%;
}

.task-options {float: right;}

.complete-bnt,
.edit-bnt,
.trash-bnt {
  font-size: 1.1rem;
  background: none;
  border: none;
}

.fas:hover {transition: all .6s ease;}
.fa-check:hover {color: #00d600;}
.fa-pen:hover, .fa-save:hover {color: #614385;}
.fa-trash:hover {color: #ff0000;}

.completed {
  text-decoration: line-through;
  color: #a5a5a5;
}

.edit-container {width: 100%;}

.edit-todo {width: 100%;}

.edit {
  width: 92.5%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: none;
  background: none;
}

.save-bnt {
  font-size: 1.1rem;
  background: none;
  border: none;
}

@media only screen and (max-width: 600px) {
  .task-input {width: 90%;}

  .todo {width: 90%;}

  .info {width: 70%;}
  
  .created-date {font-size: .7rem;}
}